.kv-edit-mode .buttons-container {
  margin-left: 10px;
  margin-right: 8px;
  margin-top: -9px;
  text-align: right;
  .alert {
    margin-bottom: 0;
  }
  .kv-buttons-1, .kv-buttons-2 {
    display: inline-block;
    text-align: left;
  }

  .kv-buttons-2 {
    margin-bottom: 8px;
  }
}