.detail-view.table {
  position: relative;
  border: none;
}
.detail-view.table .kv-edit-mode .kv-detail-view {
  overflow: visible;
}
.detail-view.table .kv-edit-mode .kv-detail-view .table {
  margin-bottom: 0;
}
.detail-view.table .kv-edit-mode .buttons-container {
  padding: 8px 8px 0 10px;
  margin: 0;
  text-align: right;
  border: 1px solid #dddddd;
}
.detail-view.table .kv-edit-mode .buttons-container .alert {
  margin-bottom: 0;
}
.detail-view.table .kv-edit-mode .buttons-container .kv-buttons-1,
.detail-view.table .kv-edit-mode .buttons-container .kv-buttons-2 {
  display: inline-block;
  text-align: left;
}
.detail-view.table .kv-edit-mode .buttons-container .kv-buttons-2 {
  margin-bottom: 8px;
}
.detail-view.table .kv-edit-mode .buttons-container.floated-buttons {
  z-index: 5;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  padding-top: 10px;
  border-top: 1px solid #dddddd;
  margin: 0;
  padding-right: 10px;
}
